block variables
  title = panos.name + " - " + tours.name

extends ../layout

block content
  article.container(role='main')
    ol.breadcrumb
      li
        a(href='/') Home
      li
        a(href='/tours') Tours
      li
        a(href='/tours/'+tours.id)= tours.name
      li.active= panos.name
      li.pull-right
        a(href='/tours/'+tours.id+'/panoramas/'+panos.id+'/delete') Delete
      li.pull-right
        a(href='/tours/'+tours.id+'/panoramas/'+panos.id+'/edit') Edit
    h2= panos.name
    h5= panos.desc
    - if (panos.image)
      #pano
      script.
        embedpano({ swf: '/swf/krpano.swf', xml: '/tours/!{tours.id}/panoramas/!{panos.id}.xml', target: 'pano', html5: 'auto', passQueryParameters: true });
    - else
      p Panoramic image not set.
