block variables
  title = tours.name + " - Virtual Tours"

extends ../layout

block content
  article.container(role='main')
    ol.breadcrumb
      li
        a(href='/') Home
      li
        a(href='/tours') Tours
      li.active= tours.name
      li.pull-right
        a(href='/tours/'+tours.id+'/delete') Delete
      li.pull-right
        a(href='/tours/'+tours.id+'/edit') Edit
    h2= tours.name
    h5= tours.desc
    .text-right
      a.btn.btn-primary(href='/tours/'+tours.id+'/panoramas/new')
        span.glyphicon.glyphicon-plus
        | Add Panoramas
    table.table
      thead
        tr
          th Name
          th Image
          th Description
          th Created At
      tbody
        - for pano in panos
          tr
            td
              a(href='/tours/'+tours.id+'/panoramas/'+pano.id)= pano.name
              = ' ['
              a(href='/tours/'+tours.id+'/panoramas/'+pano.id+'/edit') edit
              | ]
            td
              a(href=pano.image) Image
            td= pano.desc
            td= pano.created_at
