block variables
  title = tours.name + " - Virtual Tours"

extends ../layout

block content
  article.container(role='main')
    ol.breadcrumb
      li
        a(href='/') Home
      li
        a(href='/tours') Tours
      li.active= tours.name
      li.pull-right
        a(href='/tours/'+tours.id+'/delete') Delete
      li.pull-right
        a(href='/tours/'+tours.id+'/edit') Edit
    - if (!tours.has_entry)
      .alert.alert-warning.alert-dismissable
        button(type='button', class='close' data-dismiss='alert' aria-hidden='true') &times;
        | You haven't set entry panorama yet.
    .pull-right
      a.btn.btn-primary(href='/tours/'+tours.id+'/panoramas/new')
        span.glyphicon.glyphicon-plus
        = ' Add Panoramas'
    h2= tours.name
    h5= tours.desc
    ul#tour-nav.nav.nav-tabs.nav-justified
      li(class=view=='tour'?'active':undefined)
        a(href='/tours/'+tours.id+'?view=tour') Tour
      li(class=view=='list'?'active':undefined)
        a(href='/tours/'+tours.id+'?view=list') List
      li(class=view=='graph'?'active':undefined)
        a(href='/tours/'+tours.id+'?view=graph') Graph
    - if (view == 'list')
      .row
        - for pano in panos
          .col-sm-6.col-md-3
            .thumbnail
              a(href='/tours/'+tours.id+'/panoramas/'+pano.id)
                - if (pano.thumb)
                  img.thumbnail(alt=pano.name, src=pano.thumb)
                - else
                  img.thumbnail(alt=pano.name, src='/images/blank_250px.png')
              .caption
                h4
                  = pano.name + ' '
                  - if (pano.entry)
                    small.glyphicon.glyphicon-home
                h6= pano.desc
                - var created_at = new Date(parseInt(pano.created_at+'000'))
                abbr.timeago(title=created_at.toISOString())= created_at
    - else if (view == 'graph')
      p Pending
    - else
      .row
        .col-md-8
          #tour
        .col-md-4
          #panelCurrentScene.panel.panel-default.hide
            .panel-heading Current Scene
            .panel-body
              .media
                a.pano-link.pull-left(href='#')
                  img.pano-img.media-object(src='')
                .media-body
                  h4.pano-name.media-heading
                  p.pano-desc
          #panelCurrentHotspot.panel.panel-default.hide
            .panel-heading
              | Current Hotspot
              span.hotspot-name
            .panel-body
              .media
                a.pano-link.pull-left(href='#')
                  img.pano-img.media-object(src='')
                .media-body
                  h4.pano-name.media-heading
                  p.pano-desc
              .btn-group
                button#btnRemoveHotspot.btn.btn-default(type='button') Remove Hotspot
          .panel.panel-default
            .panel-heading Toolbox
            .panel-body
              .btn-group
                button#btnAddHotspot.btn.btn-default(type='button') Add Hotspot
                button#btnReload.btn.btn-default(type='button') Reload
      script.
        var tour_id = !{tours.id};
      != js('editor')

    #pano-selector.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Connect to Next Scene
          .modal-body
            #pano-list.row
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button#linkToPano.btn.btn-primary(type='button', disabled) Link to This Panorama
