block variables
  title = tours.name + " - Virtual Tours"

extends ../layout

block content
  article.container(role='main')
    ol.breadcrumb
      li
        a(href='/') Home
      li
        a(href='/tours') Tours
      li.active= tours.name
      li.pull-right
        a(href='/tours/'+tours.id+'/delete') Delete
      li.pull-right
        a(href='/tours/'+tours.id+'/edit') Edit
    - if (!tours.has_entry)
      .alert.alert-warning.alert-dismissable
        button(type='button', class='close' data-dismiss='alert' aria-hidden='true') &times;
        | You haven't set entry panorama yet.
    .pull-right
      a.btn.btn-primary(href='/tours/'+tours.id+'/panoramas/new')
        span.glyphicon.glyphicon-plus
        = ' Add Panoramas'
    h2= tours.name
    h5= tours.desc
    .row
      - for pano in panos
        .col-sm-6.col-md-3
          .thumbnail
            a(href='/tours/'+tours.id+'/panoramas/'+pano.id)
              - if (pano.thumb)
                img.thumbnail(alt=pano.name, src=pano.thumb)
              - else
                img.thumbnail(alt=pano.name, src='/images/blank_250px.png')
            .caption
              h4
                = pano.name + ' '
                - if (pano.entry)
                  small.glyphicon.glyphicon-home
              h6= pano.desc
              - var created_at = new Date(parseInt(pano.created_at+'000'))
              abbr.timeago(title=created_at.toISOString())= created_at
