block variables
  title = tours.name + " - Virtual Tours"

extends ../layout

block content
  article.container(role='main')
    ol.breadcrumb
      li
        a(href='/') Home
      li
        a(href='/tours') Tours
      li.active= tours.name
      li.pull-right
        a(href='/tours/'+tours.id+'/delete') Delete
      li.pull-right
        a(href='/tours/'+tours.id+'/edit') Edit
    h2= tours.name
    h5= tours.desc
    .text-right
      a.btn.btn-primary(href='/tours/'+tours.id+'/panoramas/new')
        span.glyphicon.glyphicon-plus
        | Add Panoramas
    .row
      - for pano in panos
        .col-sm-6.col-md-3
          .thumbnail
            a(href='/tours/'+tours.id+'/panoramas/'+pano.id)
              - if (pano.thumb)
                img(alt=pano.name, src=pano.thumb)
              - else
                img(alt=pano.name, src='/images/blank_250px.png')
            .caption
              h4= pano.name
              h6= pano.desc
              em= pano.created_at
