!!! xml
krpano(version='1.16' onstart='startup();')
  style(distorted='true', edge='top', name='hotspotstyle_01', oy='0', scale='0.5', url='/images/hotspot_01.png', onclick='js(hotspot.click(get(name)))')
  display(movequality10='BEST' stillquality10='BEST')
  action(name='startup')
    - if (scene)
      - loadscene = scene
    - else if (tours.has_entry)
      - loadscene = tours.entry
    - else
      - loadscene = 'get(scene[0].name)'
    = 'loadscene(' + loadscene + ', ' + view + ', MERGE);'
  - for pano in panos
    scene(heading='', lat='', lng='', pano-id='#{pano.id}', name='panos:#{pano.id}', onstart='', thumburl='', title='#{pano.name}')
      view(fov=100, fovmax=120, fovmin=30, fovtype='MFOV', hlookat=0, limitview='auto', maxpixelzoom='2.0', vlookat=0)
      image
        sphere(url=pano.image)
      - index = 0
      - for conn in pano.connections
        - conn = JSON.parse(conn)
        - index += 1
        hotspot(_ath=conn.ath, _atv=conn.atv, ath=conn.ath, atv=conn.atv, linkedscene=conn.to, name='hotspot#{index}' style='hotspotstyle_01')
